<div style="text-align:center">
  <app-selectornumerico 
    #selector1
    [minimo]="1"
    [maximo]="10">
  </app-selectornumerico>
  <br>
  <button (click)="selector1.fijar(1)">Fijar en 1</button><br>
  <button (click)="selector1.fijar(5)">Fijar en 5</button><br>
  <button (click)="selector1.fijar(10)">Fijar en 10</button>
</div>

<div style="text-align:center">
  <app-selectornumerico 
    #selector2
    [minimo]="1"
    [maximo]="10">
  </app-selectornumerico>
  <br>
  <button (click)="fijarSelector2(1)">Fijar en 1</button><br>
  <button (click)="fijarSelector2(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector2(10)">Fijar en 10</button>
</div>

<app-listadoarticulos
[datos]="productos"
></app-listadoarticulos>